body {
  background-color: #FCF6BE;
  font-family: 'Arvo', serif;
}

a {
  color: #D57500;
}

.container {
  margin-top: 10%;
}

.header {
  text-align: center;
  margin: 0 0 2%;
}

.header h1 {
  font-family: 'Major Mono Display', monospace;
}

.image-header img {
  width: 12%;
}

.scrolly {
	max-width: 75rem;
	margin: 3rem auto;
	padding: 1rem;
}

article {
  padding: 0;
  max-width: 30rem;
  margin: 0 auto;
  position: relative;
}

article .step {
  min-height: 67vh;
  margin-bottom: 1rem;
}

article .step:last-of-type {
  margin-bottom: 0;
}

article .step p {
  margin: 0;
  padding: 1rem;
  text-align: center;
  height: 175px;
  font-size: 16px;
  background-color: #fff;
  pointer-events: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
}

article .step p img {
  width: 25%;
  display: block;
  margin: auto;
  padding: 2%;
}

figure.sticky {
  position: sticky;
  width: 100%;
  margin: 0;
  top: 15vh;
  left: 0;
  /* height: 50vh; */
}

.border-lines {
  stroke: #000;
  stroke-width: 1px;
}

.tick text {
  font-family: 'Arvo', serif;
}

#map {
  width: 975px;
  height: 500px;
}
